<main>
  <div class="container pt-5">
    <h2 class="fw-bold pb-5">Find museum</h2>
    <div class="row">
      <div class="col-12">
          <div data-controller="mapbox">
            <%# <div data-mapbox-target="lat"> <input type="text"></div>
            <div data-mapbox-target="lng"><input type="text"></div> %>
          </div>
      </div>
    </div>
  </div>
</main>
